.btn {
	background-image: linear-gradient(to right, #4CB8C4 0%, #41ebc0, #4CB8C4 100%);
	margin: 10px;
	padding: 15px 45px;
	text-transform: uppercase;
	color: white;
	box-shadow: 0 0 20px #dfdfdf;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	display: block;
	margin: 100px auto 0;
}

.modal {
	border: 5px solid;
	position: absolute;
	top: 150%;
	transform: translate(-850%, 150%);
	padding: 10px;
}

.overlay {
width: 2000px;
height: 1800px;
background: rgba(49, 49, 49, 0.5);
width: 100%;
height: 100%;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

.modal-content {
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
line-height: 1.4;
background: #f1f1f1;
padding: 14px 28px;
border-radius: 3px;
max-width: 500px;
min-width: 300px;
}

.modal-content h1, p {
text-align: center;
}

.close-modal{
position: absolute;
top: 10px;
right: 10px;
padding: 5px 7px;
color: red;
font-weight: bold;
cursor: pointer;
font-size: large;
}

body.active-modal {
overflow-y: hidden;
}