.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  justify-content: center;
  display: flex;
  margin-top: 10%;
  background-color: lightblue;
}

.container {
  width: 350px;
  height: 450px;
  border: 5px solid darkblue;
  background-color: blue;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

h2{
  color: white;
  font-size: 30px;
}

input {
  width: 80%;
  height: 50px;
  font-size: 20px;
  padding: 5px;
  margin-top: 20px;
  color: darkblue;
  font-weight: bold;
}

button {
  width: 40%;
  padding: 10px;
  color: blue;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 15px; 
  cursor: pointer;
}

span {
  color: #999;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn{
  width: 100px;
  background-color: green;
  color: wheat;
}

.home {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: lightblue;
  width: 100%;
  padding: 20px;
}